[Unit]
Description={{ service.description }}
After={{ service.after }}

{% if service.extra_unit_configs is defined %}
{% for config in service.extra_unit_configs %}
{{ config }}
{% endfor %}
{% endif %}

[Service]
User={{ service.user }}
ExecStart={{ service.exec_start }}
Restart={{ service.restart_policy }}
RestartSec={{ service.restart_delay }}

{% if service.extra_service_configs is defined %}
{% for config in service.extra_service_configs %}
{{ config }}
{% endfor %}
{% endif %}


[Install]
WantedBy=multi-user.target

{% if service.extra_install_configs is defined %}
{% for config in service.extra_install_configs %}
{{ config }}
{% endfor %}
{% endif %}
