---

services:
  nextcloud-app:
    container_name: nextcloud-app
    image: nextcloud:32
    volumes:
      - './data/nextcloud-app:/var/www/html'
      - './config/nextcloud-app/nextcloud.ini:/usr/local/etc/php/conf.d/nextcloud.ini'
    depends_on:
      - 'nextcloud-redis'
      - 'nextcloud-db'
      - 'nextcloud-onlyoffice'
    environment:
      - 'MYSQL_HOST=nextcloud-db'
      - 'MYSQL_PASSWORD={{ nextcloud_db_password }}'
      - 'MYSQL_DATABASE={{ nextcloud_db }}'
      - 'MYSQL_USER={{ nextcloud_db_user }}'
      - 'REDIS_HOST=nextcloud-redis'
      - 'TRUSTED_PROXIES={{ lan_prefix }}.20'
      - 'NEXTCLOUD_TRUSTED_DOMAINS=cloud.{{ domain_name }}'
      - 'OVERWRITECLIURL=https://cloud.{{ domain_name }}'
      - 'OVERWRITEPROTOCOL=https'
    restart: unless-stopped
    networks:
      - 'frontend'
      - 'backend'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.nextcloud.tls=true'
      - 'traefik.http.routers.nextcloud.tls.certresolver=cloudflare'
      - 'traefik.http.routers.nextcloud.rule=Host(`cloud.{{ domain_name }}`)'
      - 'traefik.http.middlewares.secure_headers.headers.stsSeconds=15552000'
      - 'traefik.http.middlewares.secure_headers.headers.stsIncludeSubdomains=true'
      - 'traefik.http.middlewares.secure_headers.headers.stsPreload=true'
      - 'traefik.http.routers.nextcloud.middlewares=secure_headers'
      - 'traefik.docker.network=frontend'
  nextcloud-redis:
    container_name: nextcloud-redis
    image: redis:6
    restart: unless-stopped
    healthcheck: 
      test: 'redis-cli ping || exit 1'
    networks:
      - 'backend'
  nextcloud-db:
    container_name: nextcloud-db
    image: mariadb:10
    volumes:
      - './data/nextcloud-db:/var/lib/mysql'
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW --log-bin-trust-function-creators=1
    environment:
      - 'MYSQL_ROOT_PASSWORD={{ nextcloud_root_db_password }}'
      - 'MYSQL_PASSWORD={{ nextcloud_db_password }}'
      - 'MYSQL_DATABASE={{ nextcloud_db }}'
      - 'MYSQL_USER={{ nextcloud_db_user }}'
    restart: unless-stopped
    networks:
      - 'backend'
  nextcloud-onlyoffice:
    container_name: nextcloud-onlyoffice
    image: onlyoffice/documentserver:latest
    environment:
      - 'JWT_SECRET={{ nextcloud_onlyoffice_jwt }}'
    restart: unless-stopped
    networks:
      - 'frontend'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.office.tls=true'
      - 'traefik.http.routers.office.tls.certresolver=cloudflare'
      - 'traefik.http.routers.office.rule=Host(`office.cloud.{{ domain_name }}`)'
      - 'traefik.http.middlewares.x_forwarded_proto.headers.customrequestheaders.X-Forwarded-Proto=https'
      - 'traefik.http.routers.office.middlewares=x_forwarded_proto'

networks:
  frontend:
    external: True
  backend:
    external: True