#!/bin/bash

# Set environment variable for restic password
export RESTIC_PASSWORD='{{ restic_password }}'
   
LOG_FILE="{{ restic_logs_directory }}/{{ restic_backup_config.name }}-backup.log"

for repo in "{{ restic_backup_config.local_backup_repo }}" "{{ restic_backup_config.remote_backup_repo }}"; do
    if [[ -n "$repo" ]]; then
        echo "==============================" >> "$LOG_FILE"
        echo "Starting backup for {{ restic_backup_config.name }} in $repo at $(date)" >> "$LOG_FILE"
        # Run backup
        restic -r "$repo" backup "{{ restic_backup_config.dir_to_backup }}" >> "$LOG_FILE" 2>&1
        if [ $? -eq 0 ]; then
            echo "Backup completed successfully" >> "$LOG_FILE"
        else
            echo "Backup failed!" >> "$LOG_FILE"
            exit 1
        fi

        # Apply retention policy
        echo "Applying retention policy..." >> "$LOG_FILE"
        restic -r "$repo" forget --keep-daily 7 --keep-weekly 4 --keep-monthly 6 --prune >> "$LOG_FILE" 2>&1

        # Verify repository integrity
        echo "Verifying backup integrity..." >> "$LOG_FILE"
        restic -r "$repo" check >> "$LOG_FILE" 2>&1
        if [ $? -eq 0 ]; then
            echo "Backup verification successful" >> "$LOG_FILE"
        else
            echo "Backup verification failed!" >> "$LOG_FILE"
            exit 1
        fi

        echo "Backup process completed for {{ restic_backup_config.name }} in $repo at $(date)" >> "$LOG_FILE"
        echo "==============================" >> "$LOG_FILE"
    fi
done
