auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /tmp/loki
  ring:
    kvstore:
      store: inmemory
  replication_factor: 1

schema_config:
  configs:
    - from: 2025-04-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /tmp/loki/index
    cache_location: /tmp/loki/tsdb-cache

  filesystem:
    directory: /tmp/loki/chunks

limits_config:
  allow_structured_metadata: true
