---

services:
  nextcloud:
    container_name: nextcloud
    image: nextcloud:32
    mem_limit: 4g
    cpus: 2
    volumes:
      - './data/nextcloud:/var/www/html'
      - './config/nextcloud/nextcloud.ini:/usr/local/etc/php/conf.d/nextcloud.ini'
    depends_on:
      - 'redis'
      - 'maria-db'
      - 'onlyoffice'
    environment:
      - 'MYSQL_HOST=maria-db'
      - 'MYSQL_PASSWORD={{ nextcloud_db_password }}'
      - 'MYSQL_DATABASE={{ nextcloud_db }}'
      - 'MYSQL_USER={{ nextcloud_db_user }}'
      - 'REDIS_HOST=redis'
      - 'TRUSTED_PROXIES={{ lan_prefix }}.21'
      - 'NEXTCLOUD_TRUSTED_DOMAINS=cloud.{{ domain_name }}'
      - 'OVERWRITECLIURL=https://cloud.{{ domain_name }}'
      - 'OVERWRITEPROTOCOL=https'
    restart: unless-stopped
    networks:
      - 'frontend'
      - 'backend'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.nextcloud.rule=Host(`cloud.{{ domain_name }}`)'
      - 'traefik.http.middlewares.secure_headers.headers.stsSeconds=15552000'
      - 'traefik.http.middlewares.secure_headers.headers.stsIncludeSubdomains=true'
      - 'traefik.http.middlewares.secure_headers.headers.stsPreload=true'
      - 'traefik.http.routers.nextcloud.middlewares=secure_headers'
      - 'traefik.docker.network=frontend'
  redis:
    container_name: redis
    image: redis:6
    restart: unless-stopped
    healthcheck: 
      test: 'redis-cli ping || exit 1'
    networks:
      - 'backend'
  maria-db:
    container_name: maria-db
    image: mariadb:10
    volumes:
      - './data/maria-db:/var/lib/mysql'
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW --log-bin-trust-function-creators=1
    environment:
      - 'MYSQL_ROOT_PASSWORD={{ nextcloud_root_db_password }}'
      - 'MYSQL_PASSWORD={{ nextcloud_db_password }}'
      - 'MYSQL_DATABASE={{ nextcloud_db }}'
      - 'MYSQL_USER={{ nextcloud_db_user }}'
    restart: unless-stopped
    networks:
      - 'backend'
  onlyoffice:
    container_name: onlyoffice
    image: onlyoffice/documentserver:latest
    mem_limit: 2g
    cpus: 2
    environment:
      - 'JWT_SECRET={{ nextcloud_onlyoffice_jwt }}'
    restart: unless-stopped
    networks:
      - 'frontend'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.office.rule=Host(`office.cloud.{{ domain_name }}`)'
      - 'traefik.http.middlewares.x_forwarded_proto.headers.customrequestheaders.X-Forwarded-Proto=https'
      - 'traefik.http.routers.office.middlewares=x_forwarded_proto'
  paperless:
    container_name: paperless
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    mem_limit: 1g
    cpus: 1
    restart: unless-stopped
    depends_on:
      - redis
    volumes:
      - './data/paperless:/usr/src/paperless/media'
      - './config/paperless:/usr/src/paperless/data'
    environment:
      - 'PAPERLESS_REDIS=redis://redis:6379'
      - 'PAPERLESS_SECRET_KEY={{ paperless_secret_key }}'
      - 'PAPERLESS_URL=https://paperless.{{ domain_name }}'
    networks:
      - 'frontend'
      - 'backend'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.paperless.rule=Host(`paperless.{{ domain_name }}`)'
      - 'traefik.http.services.paperless.loadbalancer.server.port=8000'
      - 'traefik.docker.network=frontend'
  seafile-db:
    container_name: seafile-db
    image: mariadb:10
    volumes:
      - './data/seafile-db:/var/lib/mysql'
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW --log-bin-trust-function-creators=1
    environment:
      - 'MYSQL_ROOT_PASSWORD={{ seafile_root_db_password }}'
      - 'MYSQL_PASSWORD={{ seafile_db_password }}'
      - 'MYSQL_DATABASE={{ seafile_db }}'
      - 'MYSQL_USER={{ seafile_db_user }}'
    restart: unless-stopped
    networks:
      - 'backend'
  seafile:
    container_name: seafile
    image: seafileltd/seafile-mc:13.0-latest
    mem_limit: 2g
    cpus: 2
    volumes:
      - './data/seafile:/shared'
    depends_on:
      - 'seafile-db'
      - 'redis'
    environment:
      - 'SEAFILE_SERVER_HOSTNAME=drive.{{ domain_name }}'
      - 'SEAFILE_SERVER_PROTOCOL=https'
      - 'INIT_SEAFILE_MYSQL_ROOT_PASSWORD={{ seafile_root_db_password }}'
      - 'SEAFILE_MYSQL_DB_HOST=seafile-db'
      - 'SEAFILE_MYSQL_DB_PORT=3306'
      - 'SEAFILE_MYSQL_DB_USER={{ seafile_db_user }}'
      - 'SEAFILE_MYSQL_DB_PASSWORD={{ seafile_db_password }}'
      - 'SEAFILE_MYSQL_DB_SEAFILE_DB_NAME={{ seafile_db }}'
      - 'SEAFILE_MYSQL_DB_SEAHUB_DB_NAME={{ seafile_seahub_db }}'
      - 'SEAFILE_MYSQL_DB_CCNET_DB_NAME={{ seafile_ccnet_db }}'
      - 'JWT_PRIVATE_KEY={{ seafile_jwt_key }}'
      - 'CACHE_PROVIDER=redis'
      - 'REDIS_HOST=redis'
      - 'REDIS_PORT=6379'
      - 'TIME_ZONE={{ timezone }}'
    restart: unless-stopped
    networks:
      - 'frontend'
      - 'backend'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.seafile.rule=Host(`drive.{{ domain_name }}`)'
      - 'traefik.http.services.seafile.loadbalancer.server.port=80'
      - 'traefik.docker.network=frontend'
networks:
  frontend:
    external: True
  backend:
    external: True