VPN=wireguard
IPv4dev={{ network_interface }}
install_user=pivpn
pivpnNET={{ pivpn_net_prefix }}.0
subnetClass=24
pivpnHOST={{ pivpn_host }}
pivpnPORT={{ pivpn_port }}
pivpnDNS1={{ pihole_vip }}
pivpnDNS2=
