http:
  routers:
{% for service in traefik_external_services %}
    {{ service.name }}:
{% for key, value in service.routers_properties.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endfor %}

  services:
{% for service in traefik_external_services %}
    {{ service.name }}:
{% for key, value in service.services_properties.items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
