server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: {{ loki_url }}/loki/api/v1/push

scrape_configs:
  - job_name: local-{{ promtail_instance }}
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          __path__: /var/log/*.log

      - targets:
          - localhost
        labels:
          job: varlogs-app
          __path__: /var/log/*/*.log
{% if promtail_instance == "svr" %}
  - job_name: docker
    pipeline_stages:
      - docker: {}
    static_configs:
      - labels:
          job: docker-logs
          __path__: /var/lib/docker/containers/*/*-json.log
{% endif %}
