---

services:
  glance:
    container_name: glance
    image: glanceapp/glance
    restart: unless-stopped
    volumes:
      - './config/glance:/app/config'
      - '/etc/localtime:/etc/localtime:ro'
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
    environment:
      - 'JELLYFIN_URL=https://jellyfin.{{ domain_name }}'
      - 'JELLYFIN_KEY={{ jellyfin_key }}'
      - 'MEDIA_GLUETUN_URL=https://vpn.media.{{ domain_name }}'
      - 'MEDIA_GLUETUN_KEY={{ gluetun_control_server_apikey }}'
      - 'QBITTORRENT_URL=https://torrent.{{ domain_name }}'
      - 'HA_URL=https://home-assistant.{{ domain_name }}'
      - 'HA_API_KEY={{ homeassistant_api_key }}'
      - 'SPEEDTEST_URL=https://speedtest.{{ domain_name }}'
      - 'SPEEDTEST_API_TOKEN={{ speedtest_api_token }}'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.glance.rule=Host(`glance.{{ domain_name }}`)'
      - 'traefik.docker.network=frontend'
    networks:
      - 'frontend'
      - 'backend'
  uptime-kuma:
    container_name: uptime-kuma
    image: louislam/uptime-kuma:2
    restart: unless-stopped
    volumes:
      - ./data/uptime-kuma:/app/data
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.uptime-kuma.rule=Host(`uptime-kuma.{{ domain_name }}`)'
      - 'traefik.http.services.uptime-kuma.loadbalancer.server.port=3001'
    networks:
      - 'frontend'
  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    user: 1000:1000
    volumes:
      - './data/grafana/:/var/lib/grafana'
    restart: unless-stopped
    environment:
      - 'GF_SERVER_ROOT_URL=https://grafana.{{ domain_name }}'
      - 'GF_AUTH_GENERIC_OAUTH_ENABLED=true'
      - 'GF_AUTH_GENERIC_OAUTH_NAME=Authelia'
      - 'GF_AUTH_GENERIC_OAUTH_ICON=signin'
      - 'GF_AUTH_GENERIC_OAUTH_CLIENT_ID=grafana'
      - 'GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET={{ authelia_oidc_clients_secrets.grafana.secret }}'
      - 'GF_AUTH_GENERIC_OAUTH_SCOPES=openid profile email groups'
      - 'GF_AUTH_GENERIC_OAUTH_EMPTY_SCOPES=false'
      - 'GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://sso.{{ domain_name }}/api/oidc/authorization'
      - 'GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://sso.{{ domain_name }}/api/oidc/token'
      - 'GF_AUTH_GENERIC_OAUTH_API_URL=https://sso.{{ domain_name }}/api/oidc/userinfo'
      - 'GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH=preferred_username'
      - 'GF_AUTH_GENERIC_OAUTH_GROUPS_ATTRIBUTE_PATH=groups'
      - 'GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH=name'
      - 'GF_AUTH_GENERIC_OAUTH_USE_PKCE=true'
      - "GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH=contains(groups[*], 'admin') && 'Admin' || contains(groups[*], 'editor') && 'Editor' || 'Viewer'"  # Not working
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.grafana.rule=Host(`grafana.{{ domain_name }}`)'
      - 'traefik.http.services.grafana.loadbalancer.server.port=3000'
      - 'traefik.docker.network=frontend'
    networks:
      - 'frontend'
      - 'backend'
  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    user: 1000:1000
    volumes:
      - './config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml'
      - './data/prometheus:/prometheus'
    command: --config.file=/etc/prometheus/prometheus.yml
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.prometheus.rule=Host(`prometheus.{{ domain_name }}`)'
      - 'traefik.http.services.prometheus.loadbalancer.server.port=9090'
      - 'traefik.docker.network=frontend'
    networks:
      - 'frontend'
      - 'backend'
  loki:
    container_name: loki
    image: grafana/loki:latest
    volumes:
      - './config/loki/loki-config.yml:/etc/loki/loki-config.yml'
    command: -config.file=/etc/loki/loki-config.yml
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.loki.rule=Host(`loki.{{ domain_name }}`)'
      - 'traefik.http.services.loki.loadbalancer.server.port=3100'
      - 'traefik.docker.network=frontend'
    networks:
      - 'frontend'
      - 'backend'
  cadvisor:
    container_name: cadvisor
    image: gcr.io/cadvisor/cadvisor:latest
    volumes:
      - '/:/rootfs:ro'
      - '/var/run:/var/run:rw'
      - '/sys:/sys:ro'
      - '/var/lib/docker/:/var/lib/docker:ro'
    restart: unless-stopped
    command:
      - "--housekeeping_interval=30s"
      - "--disable_metrics=tcp,udp,percpu,sched,process"
      - "--docker_only"
    networks:
      - 'backend'
  node_exporter:
    container_name: node_exporter
    image: quay.io/prometheus/node-exporter:latest
    volumes:
      - '/:/host:ro,rslave'
    restart: unless-stopped
    command: --path.rootfs=/host
    pid: host
    networks:
      - 'backend'
  promtail:
    container_name: promtail
    image: grafana/promtail:latest
    volumes:
      - '/var/log:/var/log'
      - './config/promtail/promtail-config.yml:/etc/promtail/promtail-config.yml'
    restart: unless-stopped
    command: -config.file=/etc/promtail/promtail-config.yml
    networks:
      - 'backend'

networks:
  frontend:
    external: True
  backend:
    external: True