{% for db in postgres_databases %}
DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = '{{ db.user }}') THEN
    CREATE ROLE {{ db.user }} WITH LOGIN PASSWORD '{{ db.password }}';
  END IF;
END
$$;

SELECT 'CREATE DATABASE {{ db.name }} OWNER {{ db.user }}'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '{{ db.name }}')\gexec
{% endfor %}
