---

services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    volumes:
      - './data/portainer:/data'
      - '/var/run/docker.sock:/var/run/docker.sock'
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.portainer.tls=true'
      - 'traefik.http.routers.portainer.tls.certresolver=cloudflare'
      - 'traefik.http.routers.portainer.rule=Host(`portainer.{{ domain_name }}`)'
      - 'traefik.http.services.portainer.loadbalancer.server.port=9000'
    networks:
      - 'frontend'
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:1.33.2
    volumes:
      - './data/vaultwarden:/data'
      - '/etc/localtime:/etc/localtime'
    environment:
      - 'SIGNUPS_ALLOWED=false'
      - '{{ timezone }}'
      - 'ADMIN_TOKEN={{ vaultwarden_admin_token | replace('$', '$$') }}'
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.vaultwarden.tls=true'
      - 'traefik.http.routers.vaultwarden.tls.certresolver=cloudflare'
      - 'traefik.http.routers.vaultwarden.rule=Host(`vaultwarden.{{ domain_name }}`)'
    networks:
      - 'frontend'
  zerobyte:
    container_name: zerobyte
    image: ghcr.io/nicotsx/zerobyte:v0.33
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse:/dev/fuse
    volumes:
      - './data/zerobyte:/var/lib/zerobyte'
      - '/etc/localtime:/etc/localtime:ro'
    environment:
      - 'BASE_URL=https://zerobyte.{{ domain_name }}'
      - 'TZ={{ timezone }}'
      - 'APP_SECRET={{ zerobyte_app_secret }}'
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.zerobyte.tls=true'
      - 'traefik.http.routers.zerobyte.tls.certresolver=cloudflare'
      - 'traefik.http.routers.zerobyte.rule=Host(`zerobyte.{{ domain_name }}`)'
      - 'traefik.http.services.zerobyte.loadbalancer.server.port=4096'
    networks:
      - 'frontend'
networks:
  frontend:
    external: True