---

services:
  home-assistant:
    container_name: home-assistant
    image: ghcr.io/home-assistant/home-assistant:stable
    mem_limit: 1g
    cpus: 2
    volumes:
      - './config/home-assistant:/config'
      - '/etc/localtime:/etc/localtime:ro'
      - '/run/dbus:/run/dbus:ro'
    devices:
      - '/dev/serial/by-id/{{ home_assistant_zigbee_dongle }}:/dev/ttyUSB0'
    environment:
      - 'TZ={{ timezone }}'
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.home-assistant.rule=Host(`home-assistant.{{ domain_name }}`)'
      - 'traefik.http.services.home-assistant.loadbalancer.server.port=8123'
    networks:
      - 'frontend'
  # n8n:
  #   container_name: n8n
  #   image: docker.n8n.io/n8nio/n8n
  #   environment:
  #     - 'N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true'
  #     - 'N8N_EDITOR_BASE_URL=https://n8n.{{ domain_name }}/'
  #     - 'N8N_PROTOCOL=https'
  #     - 'N8N_HOST=n8n.{{ domain_name }}'
  #     - 'N8N_PORT=5678'
  #     - 'N8N_RUNNERS_ENABLED=true'
  #     - 'NODE_ENV=production'
  #     - 'WEBHOOK_URL=https://n8n.{{ domain_name }}/'
  #     - 'GENERIC_TIMEZONE={{ timezone }}'
  #     - 'TZ={{ timezone }}'
  #   volumes:
  #     - './data/n8n:/home/node/.n8n'
  #   restart: unless-stopped
  #   labels:
  #     - 'traefik.enable=true'
  #     - 'traefik.http.routers.n8n.rule=Host(`n8n.{{ domain_name }}`)'
  #     - 'traefik.http.services.n8n.loadbalancer.server.port=5678'
  #   networks:
  #     - 'frontend'

networks:
  frontend:
    external: True
