[Unit]
{% for key, value in service.unit_properties.items() %}
{{ key }}={{ value }}
{% endfor %}

[Service]
{% for key, value in service.service_properties.items() %}
{{ key }}={{ value }}
{% endfor %}

[Install]
{% for key, value in service.install_properties.items() %}
{{ key }}={{ value }}
{% endfor %}