global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: INFO

metrics:
  prometheus:
    entryPoint: metrics

entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      trustedIPs:
        - "{{ caddy_vip }}/24"
    transport:
      respondingTimeouts:
        readTimeout: 0s
        writeTimeout: 0s
        idleTimeout: 0s
  metrics:
    address: ":9100"

api:
  dashboard: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false  # Only route explicitly labeled containers

