---

services:
{% for service in stack.services %}
  {{ service.name }}:
    image: {{ service.image }}
    container_name: {{ service.name }}
{% if service.environment is defined %}
    environment:
{% for var in service.environment %}
      - {{ var }}
{% endfor %}
{% endif %}
{% if service.ports is defined %}
    ports:
{% for port in service.ports %}
      - {{ port }}
{% endfor %}
{% endif %}
{% if service.volumes is defined %}
    volumes:
{% for vol in service.volumes %}
      - {{ vol }}
{% endfor %}
{% endif %}
{% if service.command is defined %}
    command: {{ service.command }}
{% endif %}
{% if service.networks is defined %}
    networks:
{% for net in service.networks %}
      - {{ net }}
{% endfor %}
{% endif %}
{% if service.depends_on is defined %}
    depends_on:
{% for depend in service.depends_on %}
      - {{ depend }}
{% endfor %}
{% endif %}
{% if service.healthcheck is defined %}
    healthcheck:
      test: {{ service.healthcheck.test }}
      interval: {{ service.healthcheck.interval }}
      start_interval: {{ service.healthcheck.start_interval }}
      start_period: {{ service.healthcheck.start_period }}
{% endif %}
{% if service.restart is defined %}
    restart: {{ service.restart }}
{% endif %}
{% if service.labels is defined %}
    labels:
{% for label in service.labels %}
      - {{ label }}
{% endfor %}
{% endif %}
{% endfor %}

{% if stack.networks is defined %}
networks:
{% for network in stack.networks %}
  {{ network.name }}:
{% if network.driver is defined %}
    driver: {{ network.driver }}
{% endif %}
{% if network.driver_opts is defined %}
    driver_opts:
{% for opt in network.driver_opts %}
      - {{ opt }}
{% endfor %}
{% endif %}
{% if network.attachable is defined %}
    attachable: {{ network.attachable }}
{% endif %}
{% endfor %}
{% endif %}

{% if stack.volumes is defined %}
volumes:
{% for volume in stack.volumes %}
  {{ volume.name }}:
    name: {{ volume.name }}
{% if volume.driver is defined %}
    driver: {{ volume.driver }}
{% endif %}
{% if volume.driver_opts is defined %}
    driver_opts:
      type: {{ volume.driver_opts.type }}
      device: {{ volume.driver_opts.device }}
      o: {{ volume.driver_opts.o }}
{% endif %}
{% endfor %}
{% endif %}