---

services:
{% for service in stack.services %}
  {{ service.name }}:
    container_name: {{ service.name }}
{% for key, value in service.properties.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endfor %}

{% if stack.networks is defined %}
networks:
{% for network in stack.networks %}
  {{ network.name }}:
{% for key, value in network.properties.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% endif %}

{% if stack.volumes is defined %}
volumes:
{% for volume in stack.volumes %}
  {{ volume.name }}:
    name: {{ volume.name }}
{% for key, value in volume.properties.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% endif %}