---

services:
  jellyseerr:
    container_name: jellyseerr
    image: ghcr.io/fallenbagel/jellyseerr:latest
    volumes:
      - './config/jellyseerr:/app/config'
    environment:
      - 'PUID=1000'
      - 'PGID=1000'
      - 'TZ={{ timezone }}'
    restart: unless-stopped
    depends_on:
      - 'radarr'
      - 'sonarr'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.jellyseerr.tls=true'
      - 'traefik.http.routers.jellyseerr.tls.certresolver=cloudflare'
      - 'traefik.http.routers.jellyseerr.rule=Host(`jellyseerr.media.{{ domain_name }}`)'
      - 'traefik.http.services.jellyseerr.loadbalancer.server.port=5055'
    networks:
      - 'frontend'
  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    volumes:
      - './config/prowlarr:/config'
    environment:
      - 'PUID=1000'
      - 'PGID=1000'
      - 'TZ={{ timezone }}'
    restart: unless-stopped
    depends_on:
      - 'qbittorrent'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.prowlarr.tls=true'
      - 'traefik.http.routers.prowlarr.tls.certresolver=cloudflare'
      - 'traefik.http.routers.prowlarr.rule=Host(`prowlarr.media.{{ domain_name }}`)'
      - 'traefik.http.routers.prowlarr.middlewares=authelia@docker'
      - 'traefik.http.services.prowlarr.loadbalancer.server.port=9696'
    networks:
      - 'frontend'
  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    environment:
      - 'TZ={{ timezone }}'
    restart: unless-stopped
    networks:
      - 'frontend'
  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    volumes:
      - './config/radarr:/config'
      - '{{ media_mount }}:/data'
    environment:
      - 'PUID=1000'
      - 'PGID=1000'
      - 'TZ={{ timezone }}'
    restart: unless-stopped
    depends_on:
      - 'qbittorrent'
      - 'prowlarr'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.radarr.tls=true'
      - 'traefik.http.routers.radarr.tls.certresolver=cloudflare'
      - 'traefik.http.routers.radarr.rule=Host(`radarr.media.{{ domain_name }}`)'
      - 'traefik.http.routers.radarr.middlewares=authelia@docker'
      - 'traefik.http.services.radarr.loadbalancer.server.port=7878'
    networks:
      - 'frontend'
  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    volumes:
      - './config/sonarr:/config'
      - '{{ media_mount }}:/data'
    environment:
      - 'PUID=1000'
      - 'PGID=1000'
      - 'TZ={{ timezone }}'
    restart: unless-stopped
    depends_on:
      - 'qbittorrent'
      - 'prowlarr'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.sonarr.tls=true'
      - 'traefik.http.routers.sonarr.tls.certresolver=cloudflare'
      - 'traefik.http.routers.sonarr.rule=Host(`sonarr.media.{{ domain_name }}`)'
      - 'traefik.http.routers.sonarr.middlewares=authelia@docker'
      - 'traefik.http.services.sonarr.loadbalancer.server.port=8989'
    networks:
      - 'frontend'
  bazarr:
    container_name: bazarr
    image: lscr.io/linuxserver/bazarr:latest
    volumes:
      - './config/bazarr:/config'
      - '{{ media_mount }}:/data'
    environment:
      - 'PUID=1000'
      - 'PGID=1000'
      - 'TZ={{ timezone }}'
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.bazarr.tls=true'
      - 'traefik.http.routers.bazarr.tls.certresolver=cloudflare'
      - 'traefik.http.routers.bazarr.rule=Host(`bazarr.media.{{ domain_name }}`)'
      - 'traefik.http.routers.bazarr.middlewares=authelia@docker'
      - 'traefik.http.services.bazarr.loadbalancer.server.port=6767'
    networks:
      - 'frontend'
  media-vpn:
    container_name: media-vpn
    image: qmcgaw/gluetun:latest
    cap_add:
      - 'NET_ADMIN'
    devices:
      - '/dev/net/tun:/dev/net/tun'
    environment:
      - 'DNS_ADDRESS=127.0.0.11'
      - 'VPN_PORT_FORWARDING=on'
{% raw %}
      - VPN_PORT_FORWARDING_UP_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{PORTS}}}" http://127.0.0.1:8080/api/v2/app/setPreferences 2>&1'
{% endraw %}
      - 'VPN_SERVICE_PROVIDER={{ vpn_provider }}'
      - 'VPN_TYPE=wireguard'
      - 'WIREGUARD_PRIVATE_KEY={{ vpn_private_key }}'
      - 'SERVER_COUNTRIES={{ vpn_countries }}'
      - 'PORT_FORWARD_ONLY=on'
{% raw %}
      - HTTP_CONTROL_SERVER_AUTH_DEFAULT_ROLE='{"auth":"apikey","apikey":"{% endraw %}{{ gluetun_control_server_apikey }}{% raw %}","routes":["GET /v1/publicip/ip"]}'
{% endraw %}
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.media-vpn.tls=true'
      - 'traefik.http.routers.media-vpn.tls.certresolver=cloudflare'
      - 'traefik.http.routers.media-vpn.rule=Host(`vpn.media.{{ domain_name }}`)'
      - 'traefik.http.routers.media-vpn.service=media-vpn-service'
      - 'traefik.http.services.media-vpn-service.loadbalancer.server.port=8000'
      - 'traefik.http.routers.qbittorrent.tls=true'
      - 'traefik.http.routers.qbittorrent.tls.certresolver=cloudflare'
      - 'traefik.http.routers.qbittorrent.rule=Host(`torrent.{{ domain_name }}`)'
      - 'traefik.http.routers.qbittorrent.service=qbittorrent-service'
      - 'traefik.http.services.qbittorrent-service.loadbalancer.server.port=8080'
      - 'traefik.http.routers.dispatcharr.tls=true'
      - 'traefik.http.routers.dispatcharr.tls.certresolver=cloudflare'
      - 'traefik.http.routers.dispatcharr.rule=Host(`iptv.{{ domain_name }}`)'
      - 'traefik.http.routers.dispatcharr.service=dispatcharr-service'
      - 'traefik.http.services.dispatcharr-service.loadbalancer.server.port=9191'
    networks:
      - 'frontend'
  qbittorrent:
    container_name: qbittorrent
    image: lscr.io/linuxserver/qbittorrent:latest
    network_mode: service:media-vpn
    depends_on:
      - 'media-vpn'
    volumes:
      - './config/qbittorrent:/config'
      - '{{ media_mount }}/torrents:/data/torrents'
    environment:
      - 'PUID=1000'
      - 'PGID=1000'
      - 'TZ={{ timezone }}'
    restart: unless-stopped
  dispatcharr:
    container_name: dispatcharr
    image: ghcr.io/dispatcharr/dispatcharr:latest
    network_mode: service:media-vpn
    depends_on:
      - 'media-vpn'
    volumes:
      - './data/dispatcharr:/data'
    restart: unless-stopped
networks:
  frontend:
    external: True
