pages:
  - name: Yasos
    columns:
      - size: small
        widgets:
          - $include: internet-speed.yml
          - type: dns-stats
            url: https://pihole.{{ domain_name }}
            service: pihole-v6
            password: {{ pihole_password }}
          - $include: media-vpn-stats.yml
          - $include: qbittorrent-stats.yml
          - $include: jellyfin-playing.yml
          - $include: jellyfin-stats.yml

      - size: full
        widgets:
{% for service_type in glance_monitor_services %}
          - type: monitor
            cache: 1m
            title: {{ service_type.title | capitalize }}
            sites:
{% for site in service_type.sites %}
              - title: {{ site.name | capitalize }}
                url: {{ site.url }}

{% if site.icon is defined %}
                icon: {{ site.icon }}
{% else %}
                icon: si:{{ site.name | replace(' ', '') | lower }}
{% endif %}
{% endfor %}
{% endfor %}
      - size: small
        widgets:
          - $include: homelab-consumption-stats.yml
          - type: server-stats
            servers:
              - type: remote
                name: Raspberry PI
                url: http://{{ lan_prefix }}.10:27973
                token: {{ glance_agent_token }}
              - type: remote
                name: Raspberry PI Backup
                url: http://{{ lan_prefix }}.82:27973
                token: {{ glance_agent_token }}
              - type: remote
                name: Proxmox
                url: http://{{ lan_prefix }}.100:27973
                token: {{ glance_agent_token }}
              - type: remote
                name: Docker-Node
                url: http://{{ lan_prefix }}.22:27973
                token: {{ glance_agent_token }}
              - type: remote
                name: Jellyfin-Node
                url: http://{{ lan_prefix }}.81:27973
                token: {{ glance_agent_token }}